bazel-*
**/.DS_Store
!vendor/*

/bin
/cmd/protoc-gen-validate-cpp/protoc-gen-validate-cpp
/cmd/protoc-gen-validate-go/protoc-gen-validate-go
/cmd/protoc-gen-validate-java/protoc-gen-validate-java
/dist/
/protoc-gen-validate

/python/LICENSE
/python/validate.proto
/python/dist/
*.egg-info/
__pycache__/
*.py[cod]

/tests/harness/cases/go
/tests/harness/cases/gogo
/tests/harness/cases/other_package/go
/tests/harness/cases/other_package/gogo
/tests/harness/cases/yet_another_package/go
/tests/harness/cases/yet_another_package/gogo
/tests/harness/cases/sort/go
/tests/harness/cases/sort/gogo
/tests/harness/go/harness.pb.go
/tests/harness/go/main/go-harness
/tests/harness/go/main/go-harness.exe
/tests/harness/gogo/harness.pb.go
/tests/harness/gogo/main/go-harness
/tests/harness/gogo/main/go-harness.exe
/tests/harness/cc/cc-harness
/tests/harness/cc/cc-harness.exe

/validate/__pycache__

/tests/harness/cases/**/*.cc
/tests/harness/cases/**/*.h

/java/.idea
/java/**/.project
/java/**/*.iml
/java/**/target
/java/**/*.class
.vscode
.project
.classpath
.settings
.idea/
.ijwb/

# Local cache directory.
.cache

# Local build directory.
/build

# Generated test cases Go files.
/tests/harness/**/*.pb.go
/tests/harness/**/*.pb.validate.go

# Harness test binary.
/tests/harness/**/*-harness
