# Requirements for linting, building, and uploading the PGV python package to PyPI.
# The package's own requirements are in python/setup.cfg (and also in python/requirements.in).
flake8==7.3.0
isort==7.0.0
build==1.4.0
twine==6.2.0
wheel==0.46.3
setuptools==80.10.2
protobuf==6.33.5
setuptools_scm[toml]>=6.2
