name: ci

on:
  push:
    branches:
      - main
  pull_request:

  # Allows triggering the workflow manually in GitHub Actions page.
  workflow_dispatch:

defaults:
  run:  # use bash for all operating systems unless overridden
    shell: bash

jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 90  # instead of 360 by default.
    steps:
      - name: Cancel when duplicated
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/tools
            ~/.cache/bazel
          key: ${{ runner.os }}-build-cache

      - name: Checkout
        uses: actions/checkout@v3 # shallow checkout.

      - uses: actions/setup-go@v3
        with:
          go-version: "1.19.3"
          cache: true

      - name: Build
        run: make -f Next.mk clean build

      - name: Format
        run: make -f Next.mk format

      - name: Check
        run: make -f Next.mk check # check the consistency.

      - name: Harness tests
        run: make -f Next.mk harness

      - name: Run unit tests
        run: make -f Next.mk test # runs tests using bazel.

      - name: Run bazel checks
        run: make -f Next.mk bazel-build bazel-build-tests-generation bazel-test-example-workspace
