# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [created]

env:
  SONATYPE_USER: ${{secrets.SONATYPE_USER}}
  SONATYPE_PASSWORD: ${{secrets.SONATYPE_PASSWORD}}
  SONATYPE_USER: ${{secrets.SONATYPE_USER}}
  SONATYPE_PASSWORD: ${{secrets.SONATYPE_PASSWORD}}
  GPG_KEY_NAME: ${{secrets.GPG_KEY_NAME}}
  GPG_PASSPHRASE: ${{secrets.GPG_PASSPHRASE}}
  GPG_KEY: ${{secrets.GPG_KEY}}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          server-id: sonatype-nexus-snapshots # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }}/.circleci/settings.xml # location for the settings.xml file

      - name: Verify with Maven
        working-directory: ${{ github.workspace }}/java
        run: mvn -B verify

      - name: Install gpg secret key
        run: |
          echo ${{env.GPG_KEY}} | base64 --decode > signing-key
          gpg --passphrase ${{env.GPG_PASSPHRASE}} --import signing-key
          shred signing-key

      - name: Configure Git User
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"

      - name: Publish to GitHub Packages Apache Maven
        run: |
          mvn -B -s ${{ github.workspace }}/.circleci/settings.xml release:prepare release:perform \
          -Darguments=-s ${{ github.workspace }}/.circleci/settings.xml \
          -DreleaseVersion=${{ github.event.inputs.releaseVersion }} \
          -DdevelopmentVersion=${{ github.event.inputs.developmentVersion }}
