# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
## For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Deploy

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SONATYPE_USER: ${{secrets.SONATYPE_USER}}
      SONATYPE_PASSWORD: ${{secrets.SONATYPE_PASSWORD}}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_KEY_NAME: ${{secrets.GPG_KEY_NAME}}
      GPG_PASSPHRASE: ${{secrets.GPG_PASSPHRASE}}
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          server-id: sonatype-nexus-snapshots
          server-username: ${{ env.SONATYPE_USER }}
          server-password: ${{ env.SONATYPE_PASSWORD }}
          gpg-private-key: ${{ env.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ env.GPG_PASSPHRASE }}

      - name: Configure Git User
        run: |
          git config --global user.email "envoy-bot@users.noreply.github.com"
          git config --global user.name "envoy-bot"

      - name: Set VERSION variable from tag
        run: |
          VERSION=${{ github.ref_name }}
          echo "VERSION=${VERSION:1}" >> $GITHUB_ENV

      - name: Publish to Apache Maven Central
        working-directory: ${{ github.workspace }}/java
        run: |
          mvn release:prepare --batch-mode \
          -DreleaseVersion=${VERSION} \
          -DdevelopmentVersion=${VERSION}-SNAPSHOT \
          -Dtag=V${VERSION} -X
        env:
          MAVEN_USERNAME: ${{ env.SONATYPE_USER }}
          MAVEN_CENTRAL_TOKEN: ${{ env.SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ env.GPG_PASSPHRASE }}
